/* Iconoclash: CSS properties exposed from SVGs */
:root {
--iconoclash-shared-0: none;;
--iconoclash-shared-1: #233881;;
--iconoclash-shared-2: #64C5E5;;
--iconoclash-shared-3: #FFFFFE;;
--iconoclash-bgsize: 20px 20px
}

.iconoclash-calc{  background-image: url('icons.svg#calc-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-clipboard{  background-image: url('icons.svg#clipboard-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-compass{  background-image: url('icons.svg#compass-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-gear{  background-image: url('icons.svg#gear-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-hammer{  background-image: url('icons.svg#hammer-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-hardhat{  background-image: url('icons.svg#hardhat-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-triangle{  background-image: url('icons.svg#triangle-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }
.iconoclash-wrench{  background-image: url('icons.svg#wrench-bg'); background-repeat: no-repeat; background-size: 20px 20px; background-size: var(--iconoclash-bgsize, 20px 20px); }